# Warsztat 9 – Pandas - wprowadzenie<a id=top></a>

<font size=2>Przed pracą z notatnikiem polecam wykonać kod w ostatniej komórce (zawiera html i css), dzięki czemu całość będzie bardziej estetyczna :)</font>

<a href='#Warsztat-91---Pandas---wprowadzenie'>Warsztat 9</a>
<ul>
<li><a href='#'><span></span></a></li>
<li><a href='#'><span></span></a></li>
<li><a href='#'><span></span></a></li>
<li><a href='#'><span></span></a></li>
</ul>

<img src="http://pandas.pydata.org/_static/pandas_logo.png" width=40% height=40%>

## Pakiet Pandas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<a href='#top' style='float: right; font-size: 13px;'>Do początku</a>

### Wczytanie danych

Najczęściej będziemy posługiwać się plikami **.csv** oraz **.xlsx**, z których będziemy wczytywać uprzednio wydobyte dane oraz do których będziemy zapisywać wyniki naszej pracy.  
Składnia dla obu typów plików jest analogiczna i sprowadza się do użycia funkcji <b>read_csv( )</b> oraz <b>read_excel( )</b>.

In [21]:
dane =pd.read_csv('pandas_data.csv')

Najwygodniejszym sposobem podglądu danych będzie użycie metod <b>.head( )</b> i <b>.tail( )</b>, które pokażą nam odpowiednio początek i koniec naszej ramki.

In [ ]:
dane.head()

In [ ]:
dane.tail(10)

Dane wczytały się bez problemu, jednak mamy jedną niepotrzebną kolumnę na samym początku ramki. Zostały w niej zapisane indeksy poszczególnych wierszy arkusza danych. Możemy się go łatwo pozbyć, używając komendy <b>index_col=</b> i wskazując numer kolumny, w której zapisane są indeksy wierszy.

In [24]:
dane =pd.read_csv('pandas_data.csv', index_col=0)

In [25]:
dane.head()

,ID,task,block,trial,fiksacja3,fiksacja3_dur,fiksacja,fiksacja_dur,stimulus_type,stimulus,...,fiksacja2_dur,beh_response,response_dur,button,accuracy,accuracy_RT,pas_response,pas_response_dur,PAS,PAS_RT
0,dc1_01,low,1,2,12.0558,3.0095,15.0653,1.7399,sn3,16.8052,...,2.0102,19.1211,1.5165,54,0,262.4,20.6494,1.4459,4,499.2
1,dc1_01,low,1,4,31.1591,2.0103,33.1694,1.7399,mn7,34.9093,...,2.0103,37.1899,1.5165,54,0,510.0,38.7182,1.4812,4,397.6
2,dc1_01,low,1,5,40.2112,2.0102,42.2214,1.7399,sc1,43.9613,...,2.0103,46.2772,1.5165,44,1,457.1,47.8055,1.4460,4,479.4
3,dc1_01,low,1,6,49.2632,1.0110,50.2742,1.7399,mn7,52.0141,...,6.0073,58.3270,1.5165,54,0,1453.6,59.8553,1.4460,4,1358.9
4,dc1_01,low,1,7,61.3130,1.0110,62.3240,1.7399,mc1,64.0639,...,2.0102,66.4151,1.5165,54,1,1153.3,67.9433,1.4108,4,195.3

Gdyby jednak niechciana kolumna zawierała zupełnie nieprzydatne dane, możemy posłużyć się slicingiem kolumn po indeksach, wykorzystując metodę <b>.ix</b>, aby móc operować na indeksach a nie nazwach kolumn.  
Do wybierania elementów ramki będziemy używać nawiasów kwadratowych (podobnie jak w listach czy tablicach numpy).

In [23]:
dane.ix[:,1:].head()

,task,block,trial,fiksacja3,fiksacja3_dur,fiksacja,fiksacja_dur,stimulus_type,stimulus,duration_type,...,fiksacja2_dur,beh_response,response_dur,button,accuracy,accuracy_RT,pas_response,pas_response_dur,PAS,PAS_RT
0,low,1,2,12.0558,3.0095,15.0653,1.7399,sn3,16.8052,dur2,...,2.0102,19.1211,1.5165,54,0,262.4,20.6494,1.4459,4,499.2
1,low,1,4,31.1591,2.0103,33.1694,1.7399,mn7,34.9093,dur1,...,2.0103,37.1899,1.5165,54,0,510.0,38.7182,1.4812,4,397.6
2,low,1,5,40.2112,2.0102,42.2214,1.7399,sc1,43.9613,dur2,...,2.0103,46.2772,1.5165,44,1,457.1,47.8055,1.4460,4,479.4
3,low,1,6,49.2632,1.0110,50.2742,1.7399,mn7,52.0141,dur2,...,6.0073,58.3270,1.5165,54,0,1453.6,59.8553,1.4460,4,1358.9
4,low,1,7,61.3130,1.0110,62.3240,1.7399,mc1,64.0639,dur3,...,2.0102,66.4151,1.5165,54,1,1153.3,67.9433,1.4108,4,195.3

### Wybieranie danych

Ramka zawiera bardzo wiele danych zebranych w trakcie eksperymentu. Zacznijmy od wybrania tylko tych, które mogą okazać się przydatne w analizie wyników. Najpierw wylistujemy sobie wszystkie nazwy kolumn, a następnie za ich pomocą stworzymy nową ramkę z mniejszą ilością danych.

In [30]:
dane.columns.values

array(['ID', 'task', 'block', 'trial', 'fiksacja3', 'fiksacja3_dur',
       'fiksacja', 'fiksacja_dur', 'stimulus_type', 'stimulus',
       'duration_type', 'duration', 'maska', 'maska_dur', 'fiksacja2',
       'fiksacja2_dur', 'beh_response', 'response_dur', 'button',
       'accuracy', 'accuracy_RT', 'pas_response', 'pas_response_dur',
       'PAS', 'PAS_RT'], dtype=object)

In [31]:
dane_small = dane[['ID','task','duration_type','accuracy','accuracy_RT','PAS','PAS_RT']]

In [32]:
dane_small.head()

       ID task duration_type  accuracy  accuracy_RT  PAS  PAS_RT
0  dc1_01  low          dur2         0        262.4    4   499.2
1  dc1_01  low          dur1         0        510.0    4   397.6
2  dc1_01  low          dur2         1        457.1    4   479.4
3  dc1_01  low          dur2         0       1453.6    4  1358.9
4  dc1_01  low          dur3         1       1153.3    4   195.3

Zanim zaczniemy pracować z całym zbiorem, wybierzmy dane dla jednej osoby badanej, na której będziemy testować kolejne kroki analizy danych.  
Sprawdźmy najpierw, jakie osoby badane mamy dostępne.

In [34]:
dane_small.ID.unique()

array(['dc1_01', 'dc1_03', 'dc1_04', 'dc1_05', 'dc1_06', 'dc1_07',
       'dc1_09', 'dc1_10', 'dc1_11', 'dc1_12', 'dc1_14', 'dc1_16',
       'dc1_17', 'dc1_18', 'dc1_19', 'dc1_20', 'dc1_21', 'dc1_22',
       'dc1_23', 'dc1_24', 'dc1_25', 'dc1_26', 'dc1_27', 'dc1_28',
       'dc1_29', 'dc1_30'], dtype=object)

In [36]:
d19 = dane_small[dane_small.ID == 'dc1_19']

In [37]:
d19.head()

          ID task duration_type  accuracy  accuracy_RT  PAS  PAS_RT
3429  dc1_19  low          dur1         0        565.8    1   845.8
3430  dc1_19  low          dur2         1        600.6    2   300.6
3431  dc1_19  low          dur1         1        402.3    1   363.8
3432  dc1_19  low          dur2         1        548.6    3   389.4
3433  dc1_19  low          dur2         1        389.3    3  1013.7

<a href='#top' style='float: right; font-size: 13px;'>Do początku</a>

<a href='#top' style='float: right; font-size: 13px;'>Do początku</a>

<a href='#top' style='float: right; font-size: 13px;'>Do początku</a>

<a href='#top' style='float: right; font-size: 13px;'>Do początku</a>

In [1]:
from IPython.core.display import HTML
import urllib
HTML(urllib.urlopen("https://raw.githubusercontent.com/mkoculak/hello_world/nowa/ipython.css").read())